<a href="https://colab.research.google.com/github/krishnarevi/Attention_model_from_scratch/blob/main/w1_Syn_data_generation_v4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install numpy==1.16.5 pandas==0.24.2 scipy==1.3.1 scikit-learn==0.22
!pip install py-synthpop

Collecting numpy==1.16.5
  Downloading numpy-1.16.5-cp37-cp37m-manylinux1_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 153 kB/s
Collecting pandas==0.24.2
  Downloading pandas-0.24.2-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 29.9 MB/s
Requirement already satisfied: scipy==1.3.1 in /usr/local/lib/python3.7/dist-packages (1.3.1)
Requirement already satisfied: scikit-learn==0.22 in /usr/local/lib/python3.7/dist-packages (0.22)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2022.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.22) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.5.0->pandas==0.24.2) (1.15.0)
Installing collected packages: numpy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.17.3
    Uninstalling numpy-1.17.3:
      Successfully uninstalled numpy-1.17.3
  Attempting uninstall: pandas
    Found existing installation: pandas 0.25.3
    Uninstalling pandas-0.25.3:
      Successfully uninstalled pandas-0.25.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.0 requires tf-estimator-nightly==2.8.0.dev2021122109, which is not installed.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.22 which is incompatible.
xarray 0.18.2 requires numpy>=1.17, but you have numpy 1.16.5 which is incompatible.
xarray 0.18.2 requires pandas>=1.0, but you have pandas 0.24.2 which is incompatible.
tensorflow 2.8.0 requires numpy>=1.20, but you have numpy 1.16.5 which is incompatible.
tables 3.7.0 requires numpy>=1.19.0, but you have numpy 1.16.5 which is incompatible.
pywavelets 1.3.0 requires numpy>=1.17.3, but you have numpy 1.16.5 which is incompatible.
pyerfa 2.0.0.1 requires numpy>=1.17, but you have numpy 1.16.5 which is incompatible.
pyarrow 6.0.1 requires numpy>=1.16.6, but you have numpy 1.16.5 which is incompatible.
plotnine 0.6.0 requires pandas>=0.25.0, but you have pandas 0.24.2 which is incompatible.
mizani 0.6.0 requires pandas>=0.25.0, but you have pandas 0.24.2 which is incompatible.
kapre 0.3.7 requires numpy>=1.18.5, but you have numpy 1.16.5 which is incompatible.
jaxlib 0.3.2+cuda11.cudnn805 requires numpy>=1.19, but you have numpy 1.16.5 which is incompatible.
jax 0.3.4 requires numpy>=1.19, but you have numpy 1.16.5 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.22 which is incompatible.
google-colab 1.0.0 requires pandas>=1.1.0; python_version >= "3.0", but you have pandas 0.24.2 which is incompatible.
fbprophet 0.7.1 requires pandas>=1.0.4, but you have pandas 0.24.2 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
astropy 4.3.1 requires numpy>=1.17, but you have numpy 1.16.5 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed numpy-1.16.5 pandas-0.24.2

Requirement already satisfied: py-synthpop in /usr/local/lib/python3.7/dist-packages (0.1.2)

In [2]:
from synthpop import Synthpop
import pandas as pd
from pathlib import Path
import json
# from datasets import adult

In [3]:
# columns = ['age','workclass','fnlwgt','education','educational-num',
# 'marital-status',
# 'occupation',
# 'relationship',
# 'race',
# 'gender',
# 'capital-gain',
# 'capital-loss',
# 'hours-per-week',
# 'native-country','income']
# df = pd.read_csv('/content/adult.data',header=None,names =columns)
# json_file_path = "/content/dtypes.json"

# with open(json_file_path, 'r') as j:
#      dtypes = json.loads(j.read())

In [4]:

dtypes_path =  "/content/dtypes.json"
csv_path = '/content/cleaned_data.csv'

# df = pd.read_csv('/content/adult.data',header=None,names =columns)

with open(dtypes_path, 'r') as j:
     dtypes = json.loads(j.read())
# columns = list(dtypes.keys())
df = pd.read_csv(csv_path).astype(dtypes)

In [6]:
 print(df.isna().sum())
 df= df.dropna().reset_index(drop=True)

APP_r                 0
Tra_numGear           0
VehV_v                0
Epm_nEng              0
SCRT_tAvrg            0
PFltLd_mSot           0
CoEOM_numOpModeAct    0
Brk_st                0
Clth_st               0
dtype: int64

In [7]:
# !git clone git@github.com:hazy/synthpop.git
# !cd synthpop
# !pip install -r requirements.txt
# !setup.py install

In [8]:
df.head()

,APP_r,Tra_numGear,VehV_v,Epm_nEng,SCRT_tAvrg,PFltLd_mSot,CoEOM_numOpModeAct,Brk_st,Clth_st
0,1.831055,3,39.38,1499.0,294.36,1.05,Normal,0,0
1,1.831055,3,39.38,1499.0,294.36,1.05,Normal,0,0
2,2.844238,3,39.38,1491.0,294.46,1.05,Normal,0,0
3,5.419922,3,39.38,1485.0,294.46,1.05,Normal,0,0
4,7.177734,3,39.37,1485.0,294.46,1.05,Normal,0,0

In [9]:
df.dtypes

APP_r                  float64
Tra_numGear              int64
VehV_v                 float64
Epm_nEng               float64
SCRT_tAvrg             float64
PFltLd_mSot            float64
CoEOM_numOpModeAct    category
Brk_st                   int64
Clth_st                  int64
dtype: object

In [10]:
df.isna().sum()

APP_r                 0
Tra_numGear           0
VehV_v                0
Epm_nEng              0
SCRT_tAvrg            0
PFltLd_mSot           0
CoEOM_numOpModeAct    0
Brk_st                0
Clth_st               0
dtype: int64

In [11]:
spop = Synthpop()
spop.fit(df, dtypes)

train_APP_r
train_Tra_numGear
train_VehV_v
train_Epm_nEng
train_SCRT_tAvrg
train_PFltLd_mSot
train_CoEOM_numOpModeAct
train_Brk_st
train_Clth_st

In [12]:
synth_df = spop.generate(len(df))

generate_APP_r
generate_Tra_numGear
generate_VehV_v
generate_Epm_nEng
generate_SCRT_tAvrg
generate_PFltLd_mSot
generate_CoEOM_numOpModeAct
generate_Brk_st
generate_Clth_st

In [13]:
synth_df.head()

,APP_r,Tra_numGear,VehV_v,Epm_nEng,SCRT_tAvrg,PFltLd_mSot,CoEOM_numOpModeAct,Brk_st,Clth_st
0,10.925293,3,28.45,1274.5,246.06,2.74,Normal,0,1
1,0.000000,3,35.55,1343.5,224.46,1.33,Normal,3,0
2,3.186035,3,39.96,1538.5,211.46,2.77,WrmUp,0,0
3,7.641602,3,34.09,1296.5,217.76,2.69,WrmUp,0,0
4,9.204102,3,44.38,1706.0,265.96,1.67,Normal,0,0

In [14]:
spop.method

APP_r                 sample
Tra_numGear             cart
VehV_v                  cart
Epm_nEng                cart
SCRT_tAvrg              cart
PFltLd_mSot             cart
CoEOM_numOpModeAct      cart
Brk_st                  cart
Clth_st                 cart
dtype: object

In [15]:
spop.visit_sequence

APP_r                 0
Tra_numGear           1
VehV_v                2
Epm_nEng              3
SCRT_tAvrg            4
PFltLd_mSot           5
CoEOM_numOpModeAct    6
Brk_st                7
Clth_st               8
dtype: int64

In [16]:
spop.predictor_matrix

,APP_r,Tra_numGear,VehV_v,Epm_nEng,SCRT_tAvrg,PFltLd_mSot,CoEOM_numOpModeAct,Brk_st,Clth_st
APP_r,0,0,0,0,0,0,0,0,0
Tra_numGear,1,0,0,0,0,0,0,0,0
VehV_v,1,1,0,0,0,0,0,0,0
Epm_nEng,1,1,1,0,0,0,0,0,0
SCRT_tAvrg,1,1,1,1,0,0,0,0,0
PFltLd_mSot,1,1,1,1,1,0,0,0,0
CoEOM_numOpModeAct,1,1,1,1,1,1,0,0,0
Brk_st,1,1,1,1,1,1,1,0,0
Clth_st,1,1,1,1,1,1,1,1,0

In [19]:
from google.colab import files
synth_df.to_csv('syn_generated.csv') 
files.download('syn_generated.csv')