<a href="https://colab.research.google.com/github/krishnarevi/Attention_model_from_scratch/blob/main/w2_Syn_data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install numpy==1.16.5 pandas==0.24.2 scipy==1.3.1 scikit-learn==0.22
!pip install py-synthpop

Requirement already satisfied: numpy==1.16.5 in /usr/local/lib/python3.7/dist-packages (1.16.5)
Requirement already satisfied: pandas==0.24.2 in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied: scipy==1.3.1 in /usr/local/lib/python3.7/dist-packages (1.3.1)
Requirement already satisfied: scikit-learn==0.22 in /usr/local/lib/python3.7/dist-packages (0.22)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2022.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.22) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.5.0->pandas==0.24.2) (1.15.0)
Requirement already satisfied: py-synthpop in /usr/local/lib/python3.7/dist-packages (0.1.2)

In [3]:
from synthpop import Synthpop
import pandas as pd
from pathlib import Path
import json
# from datasets import adult

In [4]:
# columns = ['age','workclass','fnlwgt','education','educational-num',
# 'marital-status',
# 'occupation',
# 'relationship',
# 'race',
# 'gender',
# 'capital-gain',
# 'capital-loss',
# 'hours-per-week',
# 'native-country','income']
# df = pd.read_csv('/content/adult.data',header=None,names =columns)
# json_file_path = "/content/dtypes.json"

# with open(json_file_path, 'r') as j:
#      dtypes = json.loads(j.read())

In [5]:

dtypes_path =  "/content/dtypes.json"
csv_path = '/content/cleaned_data_v5.xlsx'

# df = pd.read_csv('/content/adult.data',header=None,names =columns)

with open(dtypes_path, 'r') as j:
     dtypes = json.loads(j.read())
# columns = list(dtypes.keys())
df = pd.read_excel(csv_path).astype(dtypes)

In [6]:
 print(df.isna().sum())
 df= df.dropna().reset_index(drop=True)

APP_r                 0
Tra_numGear           0
SCRT_tAvrg            0
CoEOM_numOpModeAct    0
Brk_st                0
Clth_st               0
dtype: int64

In [7]:
# !git clone git@github.com:hazy/synthpop.git
# !cd synthpop
# !pip install -r requirements.txt
# !setup.py install

In [8]:
df.head()

      APP_r  Tra_numGear  SCRT_tAvrg  CoEOM_numOpModeAct  Brk_st  Clth_st
0  1.831055            3      294.36                   0       0        0
1  1.831055            3      294.36                   0       0        0
2  2.844238            3      294.46                   0       0        0
3  5.419922            3      294.46                   0       0        0
4  7.177734            3      294.46                   0       0        0

In [9]:
df.dtypes

APP_r                 float64
Tra_numGear             int64
SCRT_tAvrg            float64
CoEOM_numOpModeAct      int64
Brk_st                  int64
Clth_st                 int64
dtype: object

In [10]:
df.isna().sum()

APP_r                 0
Tra_numGear           0
SCRT_tAvrg            0
CoEOM_numOpModeAct    0
Brk_st                0
Clth_st               0
dtype: int64

In [11]:
spop = Synthpop()
spop.fit(df, dtypes)

train_APP_r
train_Tra_numGear
train_SCRT_tAvrg
train_CoEOM_numOpModeAct
train_Brk_st
train_Clth_st

In [12]:
synth_df = spop.generate(len(df))

generate_APP_r
generate_Tra_numGear
generate_SCRT_tAvrg
generate_CoEOM_numOpModeAct
generate_Brk_st
generate_Clth_st

In [13]:
synth_df.head()

       APP_r  Tra_numGear  SCRT_tAvrg  CoEOM_numOpModeAct  Brk_st  Clth_st
0   0.000000            3      244.16                   0       0        0
1  13.085938            3      212.86                   0       0        0
2   9.533691            3      234.56                   0       0        0
3  13.122559            3      213.36                   0       0        0
4   8.740234            3      204.76                   1       0        0

In [14]:
spop.method

APP_r                 sample
Tra_numGear             cart
SCRT_tAvrg              cart
CoEOM_numOpModeAct      cart
Brk_st                  cart
Clth_st                 cart
dtype: object

In [15]:
spop.visit_sequence

APP_r                 0
Tra_numGear           1
SCRT_tAvrg            2
CoEOM_numOpModeAct    3
Brk_st                4
Clth_st               5
dtype: int64

In [16]:
spop.predictor_matrix

,APP_r,Tra_numGear,SCRT_tAvrg,CoEOM_numOpModeAct,Brk_st,Clth_st
APP_r,0,0,0,0,0,0
Tra_numGear,1,0,0,0,0,0
SCRT_tAvrg,1,1,0,0,0,0
CoEOM_numOpModeAct,1,1,1,0,0,0
Brk_st,1,1,1,1,0,0
Clth_st,1,1,1,1,1,0

In [17]:
from google.colab import files
synth_df.to_csv('syn_generated.csv',index=False) 
files.download('syn_generated.csv')